<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.mamoapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_new_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_new_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeMamoApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".view.activity.SadariDetailActivity"></activity>
        <activity android:name=".view.activity.DoctorMainActivity" />
        <activity android:name=".view.activity.NewsListActivity" />
        <activity android:name=".view.activity.VideoDetailActivity" />
        <activity android:name=".view.activity.NewsDetailActivity" />
        <activity android:name=".view.activity.TestResultActivity" />
        <activity android:name=".view.activity.TestActivity" />
        <activity android:name=".view.activity.TestVideoActivity" />
        <activity android:name=".view.activity.SignUpActivity" />
        <activity android:name=".view.activity.SignInActivity" />
        <activity android:name=".view.activity.UserMainActivity" />
        <activity android:name=".view.activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ilham.kristomoyo.com"
                    android:pathPrefix="/news/view"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>